---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
const {
  title,
  description,
  body,
  src,
  alt,
  href,
  cta,
  reverseImg = false,
  video,
  id
} = Astro.props;
---

<div id={id} class="grid grid-cols-1 gap-8 lg:grid-cols-2">
  <div
    class={`${reverseImg ? "md:order-2" : ""}
    flex flex-col justify-center p-6 md:p-12
    `}
  >
    <span
      class="before:-z-1 relative z-10 mb-4 inline-block self-start text-3xl font-bold before:absolute before:bottom-0 before:left-0 before:-z-10 before:block before:h-[12px] before:w-full before:skew-x-[25deg] before:bg-secondary xs:text-4xl"
      >{title}</span
    >
    <h2 class="text-3xl italic text-primary">{description}</h2>
    <p class="mt-4 max-w-prose text-neutral-content">{body}</p>
    <div class="mt-8">
      <slot />
      <div class="flex flex-col gap-4 sm:flex-row">
        <a href={href} target="_blank" class="btn btn-primary">{cta}</a>
        {
          video ? (
            <button
              class="open-modal | btn btn-outline btn-primary gap-x-2"
              data-video={video}
            >
              Watch Video
              <Icon name="play" size={20} />
            </button>
          ) : null
        }
      </div>
    </div>
  </div>
  <Image
    src={src}
    alt={alt}
    class={`${reverseImg ? "md:order-1" : ""} rounded-2xl`}
  />
</div>
