---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
const {
  title,
  description,
  body,
  src,
  alt,
  price,
  compareAt,
  href,
  cta,
  length,
  thickness,
  skill
} = Astro.props;
import BestChoice from "../assets/images/best-choice-award.png";
import BestValue from "../assets/images/best-value-award.png";
---

<div
  class="flex flex-col overflow-hidden rounded-2xl bg-base-100 text-gray-950 shadow-2xl"
>
  <div class="relative">
    {
      title === "Thor" ? (
        <Image
          class="shad absolute right-4 top-4 size-[25%]"
          src={BestChoice}
          alt="Best Prostate Massager Award"
        />
      ) : title === "Tomo" ? (
        <Image
          class="shad absolute right-4 top-4 size-[25%]"
          src={BestValue}
          alt="Top Rated Prostate Massager Award"
        />
      ) : null
    }
    <Image src={src} alt={alt} />
  </div>
  <div class="flex flex-grow flex-col justify-between p-4">
    <div class="mb-8">
      <span class="text-3xl font-bold">{title}</span>
      <h2 class="text-xl">{description}</h2>
      <div class="mt-4 space-y-1 text-sm text-gray-600">
        <div class="flex items-center gap-x-2">
          <Icon name="height-rounded" />
          <span class="font-bold">Insertible Length:</span>
          <span>{length}</span>
        </div>
        <div class="flex items-center gap-x-2">
          <Icon name="width-rounded" />
          <span class="font-bold">Thickness:</span>
          <span>{thickness}</span>
        </div>
        <div class="flex items-center gap-x-2">
          <Icon name="bar-chart-fill" />
          <span class="font-bold">Skill Level:</span>
          <span>{skill}</span>
        </div>
      </div>
      <slot />
    </div>
    <a href={href} target="_blank" class="btn btn-primary shadow-xl"
      >View Product</a
    >
  </div>
</div>

<style>
  [data-icon] {
    font-size: 20px;
    color: var(--color-purple);
  }
</style>
