---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
const { name, timeAgo, title, body, product, href, imgSrc, alt } = Astro.props;
---

<div
  class="relative mx-auto max-w-lg rounded-2xl bg-neutral-50 p-8 text-gray-950 shadow-xl"
>
  <Image
    class="absolute -top-8 right-8 max-w-[120px] rounded-full shadow-2xl"
    src={imgSrc}
    alt={alt}
  />
  <div class="flex items-center gap-2">
    <p class="font-bold">{name}</p>
    <Icon name="checkmark-filled" size={18} />
  </div>
  <p class="text-xs font-light italic text-gray-800">Verified Customer</p>
  <div class="mt-2 flex items-center gap-x-1">
    <Icon name="star-filled" size={20} />
    <Icon name="star-filled" size={20} />
    <Icon name="star-filled" size={20} />
    <Icon name="star-filled" size={20} />
    <Icon name="star-filled" size={20} />
    <p>{timeAgo}</p>
  </div>
  <div class="mt-4">
    <p class="text-brown-800 text-xl font-bold">{title}</p>
    <p class="mb-2 max-w-prose">
      {body}
    </p>
    <a
      class="text-secondary underline underline-offset-4 hover:underline-offset-8"
      href={href}
      target="_blank">{product}</a
    >
  </div>
</div>

<style>
  [data-icon="checkmark-filled"] {
    color: var(--color-purple);
  }

  [data-icon="star-filled"] {
    color: var(--color-primary);
  }

  /* a {
    color: goldenrod;
  } */
</style>
